<div class="space-y-3 mb-6">
    <div class="flex justify-between">
        <span>Sous-total</span>
        <span id="subtotal">{{ cart.total }} FCFA</span>
    </div>
    <div class="flex justify-between">
        <span>Livraison</span>
        <span id="shipping">Calculé à l'étape suivante</span>
    </div>
    <div class="flex justify-between">
        <span>Réduction</span>
        <span id="discount">0 FCFA</span>
    </div>
    <div class="border-t pt-3">
        <div class="flex justify-between font-semibold text-lg">
            <span>Total</span>
            <span id="total">{{ cart.total }} FCFA</span>
        </div>
    </div>
</div>